.dark.dialogDemo {
    
    .tab {
        color: rgba(255, 255, 255, 0.65);
        .tab-bar-wrapper {

            background: #141414;;

            border-bottom: 1px solid #141414;

            .tab-bar-list {
                background-color: #141414;
            }

            .tab-bar-list {

                .tab-bar-item {
                    border : 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgb(46, 46, 48);
                    // background-color: white;

                    &.active {
                        color: rgba(255, 255, 255, 1);
                    }


                    .tab-bar-item-active-tip {
                        background-color: rgba(255, 255, 255, 0.4);

                        &.active {
                            
                            background-color: white;
                        }
                    }

                    .tab-bar-item-active-close {
                        .close-line {
                            background-color: black;
                        }
                    }
                }
            }

        }

        .tab-component-wrapper {
            // background-color: white;
            .tab-component-item {
                background-color: #141414;
                // background-color: black;
            }
        }


    }
}


.dialogDemo {
    flex: 1;

    .tab {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;

        .tab-bar-wrapper {
            height: 64px;
            font-size: 14px;
            background: #F0f0f0;

            border-bottom: 1px solid #ccc;
            overflow-x: scroll;

            .tab-bar-list {
                height: 100%;
                white-space: nowrap;
                padding-right: 40px;

                .tab-bar-item {
                    margin-top: 16px;
                    cursor: pointer;
                    margin-left: 10px;
                    line-height: 30px;

                    &:last-of-type {
                        margin-right: 6px;
                    }

                    &.active {
                        border-color: rgba(255, 255, 255, 0.8);
                    }

                    padding : 0 10px;
                    align-items : center;
                    background-color: white;
                    border-radius : 4px;
                    height : 30px;
                    border : 1px solid rgba(255, 255, 255, 0.4);
                    display : inline-flex;

                    .tab-bar-item-active-tip {
                        background-color: #E8EAEC;
                        height: 14px;
                        width: 14px;
                        border-radius: 50%;
                        margin-right: 6px;

                        &.active {
                            background-color: #2D8CF0;
                        }
                    }

                    .tab-bar-item-title {
                        margin-right: 6px; 
                        margin-left: 2px;
                        font-size: 15px;
                    }

                    .tab-bar-item-active-close {
                        display: none;
                        width: 16px;
                        height: 16px;
                        margin-top: 3px;
                        position: relative;

                        &.disClosable {
                            display: none;
                        }

                        .close-line {
                            border-radius: 4px;
                            left: 10px;
                            position: absolute;
                            height: 14px;
                            width: 2px;

                            &:first-of-type {
                                transform: rotate(45deg);
                            }

                            &:last-of-type {
                                transform: rotate(-45deg);
                            }

                            background-color: black;
                        }
                    }
                }
            }

        }

        .tab-component-wrapper {
            flex: 1;
            height: 0;
            // background: #F0f0f0;
            background-color: white;
            overflow-y: auto;
            overflow-x: hidden;

            .tab-component-list {
                transition: 0.5s;
                height: 100%;
                display: inline-block;
                white-space: nowrap;
                width: 0;

                .tab-component-item {
                    overflow-x: hidden;
                    display: inline-block;
                    height: 100%;
                    vertical-align: top;
                    padding: 12px;
                }
            }
        }
    }

    .tabs-bar-display {
        .ant-tabs-bar {
            display: none;
        }
    }
}