* {
    box-sizing: border-box;
}

html, body, #root, .dialogDemo {
    margin: 0;
    height: 100%;
    
}

.bottom{
    display: flex;
    margin: 10px 0;
    
    .formWrapper {
        flex: 1;
        margin-right: 10px;
        background-color: white;
        .form-title{
            padding: 10px 0 0 10px;
            font-size: 18px;
            color: black;
            font-weight: 600;
        }
        .ant-form{
            
            padding: 10px;
    
            .ant-row {
               margin-bottom: 10px; 
            }

            .ant-form-item-label-left{
                width: 220px;
            }
        }
    }
}

.top2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-color: white;
    height: 100%;
    >div{
        width: 960px;    
    }
    overflow-y: auto;
    .title{
        
        padding: 10px;
        font-weight: 600;
        color: black;
        font-size: 14px;
        width: 800px;
    }
    .react-monaco-editor-container{
        margin-bottom: 10px;
    }
}

.dark {
    * {
        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
            /*滚动条里面小方块*/
            background: rgba(255, 255, 255, 0.4);

            &:hover {
                background: rgba(255, 255, 255, 0.65);
            }
        }

        &::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            background: black;
            height: 6px;
        }

        &::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 8px;
            height: 6px;
        }

    }
}

* {
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        /*滚动条里面小方块*/
        background: rgba(24, 144, 255, 0.5);
    
        &:hover {
            background: #1c56d1;
        }
    }
    
    &::-webkit-scrollbar-track {
        height: 4px;
        /*滚动条里面轨道*/
        background: #F0f0f0;
    }
    
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 4px;
        height: 4px;
    }
}

